<app-header></app-header>
<app-tools></app-tools>
<div class="content">
  <app-sidemenu></app-sidemenu>

  <router-outlet></router-outlet>

  <app-actionmenu></app-actionmenu>
</div>
<app-footer></app-footer>

