
<div class="main">
    <div class="banner">
        <img src="../../assets//banner.jpg">

          <div class="banner-info">
              <h2>Chambua Kama Pro</h2>
              <p>Paybill 1231231</p>

              <a href="#" class="btn">
                  Learn More
              </a>

          </div>

      </div>



      <div class="breadcrump">


          <div class="intro">
              <p>User Profile</p>
          </div>


          <div class="actions">
              <ul>
                  <li><a href="{% url 'dashboard' %}"><i class="fas fa-futbol"></i></a>
                  </li>
                  <li><a href="{% url 'connected' %}"><i class="fa fa-road" aria-hidden="true"></i></a></li>
                  <li><a href="{% url 'all' %}"><i class="fa fa-road" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="{% url 'users' %}"><i class="fa fa-road" aria-hidden="true"></i></a></li>
                  <li><a href="{% url 'packages' %}"><i class="fa fa-road" aria-hidden="true"></i>
                      </a></li>




              </ul>

          </div>
      </div>

      <div class="outline">
        <div class="head">
          <div class="details">
            <div class="name">
<h2>Kagiri Komu</h2>
            </div>
            <div class="rating">
                <p>Kagiri Komu</p>
            </div>

            <div class="social">
                <p>Kagiri Komu</p>
            </div>

          </div>

          <div class="thumb">
              <img src="../../assets/banner.jpg" alt="">

          </div>
        </div>




        <div  class="fixture fill-yellow">



            <div class="cell">
               <h3>fixture.homeTeam.name </h3>
            </div>
            <div class="cell">
                <h3> fixture.awayTeam.name</h3>
            </div>
            <div class="cell">
                <h3>fixture.league_id.name </h3>
            </div>
            <div class="cell">
                <h3>fixture.event_date </h3>
            </div>


            <div class="cell">
                <h3>fixture.statusShort </h3>
                <!-- <a class="plus" (click)="choosePrediction(fixture)">
                    <div class="line"></div>
                    <div class="line"></div>
                </a> -->
            </div>
        </div>


        <div  class="fixture fill-yellow">



            <div class="cell">
               <h3>fixture.homeTeam.name </h3>
            </div>
            <div class="cell">
                <h3> fixture.awayTeam.name</h3>
            </div>
            <div class="cell">
                <h3>fixture.league_id.name </h3>
            </div>
            <div class="cell">
                <h3>fixture.event_date </h3>
            </div>


            <div class="cell">
                <h3>fixture.statusShort </h3>
                <!-- <a class="plus" (click)="choosePrediction(fixture)">
                    <div class="line"></div>
                    <div class="line"></div>
                </a> -->
            </div>
        </div>


        <div  class="fixture fill-yellow">



            <div class="cell">
               <h3>fixture.homeTeam.name </h3>
            </div>
            <div class="cell">
                <h3> fixture.awayTeam.name</h3>
            </div>
            <div class="cell">
                <h3>fixture.league_id.name </h3>
            </div>
            <div class="cell">
                <h3>fixture.event_date </h3>
            </div>


            <div class="cell">
                <h3>fixture.statusShort </h3>
                <!-- <a class="plus" (click)="choosePrediction(fixture)">
                    <div class="line"></div>
                    <div class="line"></div>
                </a> -->
            </div>
        </div>











      </div>

</div>

