@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';

:host {
  flex: 2;

  .left {
    flex: 2;
    height: 100%;
    margin: 0;
    padding: 0;
    // background: $primary;

    .left-list {
        display: flex;
        flex-direction: column;
        list-style: none;


        li {
            padding-left: 8px;
            height: 40px;
            background: $background;
            margin-top: 2px;
            display: flex;
            align-items: center;


            .plus {

                position: relative;
                margin-right: 5px;

                .line {
                    width: 12px;
                    height: 3px;
                    background-color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);


                    &:nth-child(2){
                        transform: translate(-50%, -50%) rotate(90deg);


                    }


                }




              }


            i, fa-icon {
                display: flex;
                width: 20px;
                height: 8px;
                display: flex;
                justify-items: center;
                align-items: center;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                margin: 5px;
                color:   $secondary;
            }

             a {


                display: flex;
                justify-items: center;
                align-items: center;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                margin: 5px;
                color:  white;

             }

             &:hover {
                 background: $secondary;
             }
        }
    }

  }


}





@media screen and (max-width: 900px){

  :host {
      display: none;

  }



}
