<div class="left" id="sidemenu" *ngIf="loggedIn; else loggedOut">
  <ul class="left-list">
      <li class="fill-yellow"><a routerLink="/home"><fa-icon [icon]="home" size="lg"></fa-icon>Home
      </a> </li>
      <li><a routerLink="/dashboard"><fa-icon [icon]="plus" size="lg"></fa-icon>Create Betslip</a></li>
      <li><a routerLink="/home"><fa-icon [icon]="list" size="lg"></fa-icon>Betslips</a></li>
      <!-- <li><a routerLink="/dashboard"><fa-icon [icon]="plus"></fa-icon>New Betslip</a></li> -->
      <li><a routerLink="/Fixtures"><fa-icon [icon]="list" size="lg"></fa-icon>Today Fixtures</a></li>
      <li><a routerLink="/Fixtures"><fa-icon [icon]="futbol" size="lg"></fa-icon>Football </a></li>
      <li><a routerLink="/Fixtures"><fa-icon [icon]="basketbol" size="lg"></fa-icon>Basket Ball </a></li>
      <li><a routerLink="/Fixtures"><fa-icon [icon]="followers" size="lg"></fa-icon>My Subscribers </a></li>
      <li><a routerLink="/Fixtures"><fa-icon [icon]="message" size="lg"></fa-icon>Messaging </a></li>
      <li><a routerLink="/Fixtures"><fa-icon [icon]="bell" size="lg"></fa-icon>Notifications </a></li>

      <li><a routerLink="/settings"><fa-icon [icon]="user" size="lg"></fa-icon>Settings </a>
      </li>
      <li><a routerLink="/settings"><fa-icon [icon]="signout" size="lg"></fa-icon>log Out </a></li>

  </ul>

</div>

<ng-template #loggedOut>
    <div class="left" id="sidemenu">
        <ul class="left-list">
            <li><a routerLink="/dashboard"><fa-icon [icon]="plus" size="lg"></fa-icon>Create Betslip</a></li>
            <li><a routerLink="/home"><fa-icon [icon]="list" size="lg"></fa-icon>Betslips</a></li>
            <li><a routerLink="/Fixtures"><fa-icon [icon]="list" size="lg"></fa-icon>Today Fixtures</a></li>
            <li><a routerLink="/Fixtures"><fa-icon [icon]="futbol" size="lg"></fa-icon>Football </a></li>
            <li><a routerLink="/Fixtures"><fa-icon [icon]="basketbol" size="lg"></fa-icon>Basket Ball </a></li>



        </ul>

      </div>

  </ng-template>
