@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';

.tools {
  grid-column: span 12;
  display: none;
  background: darken($primary, 10%);


  .toggler {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  .icon {
      flex: 1;
      display: none;
      justify-content: center;
      align-items: center;
  }

  .status {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

  }
}

@media screen and (max-width: 1200px){

  .tools {
      display: flex;
      height: 40px;

  }



}

@media screen and (max-width: 900px){

  .tools {
      display: flex;
      height: 40px;
  }



}




@media screen and (max-width: 700px){

  .tools {
      display: flex;
      height: 40px;


      .icon {
          display: flex;
      }

  }



}

