<div class="content">
<div class="option" (click)="addToSlip('gg')">gg</div>
<div class="option" (click)="addToSlip('no')">no</div>
<div class="option" (click)="addToSlip('half time-home')">half time-home</div>
<div class="option" (click)="addToSlip('half time-draw')">half time-draw</div>
<div class="option" (click)="addToSlip('half time-away')">half time-away</div>
<div class="option" (click)="addToSlip('half time-ov 0.5')">half time-ov 0.5</div>
<div class="option" (click)="addToSlip('half time-ov 1.5')">half time-ov 1.5</div>
<div class="option" (click)="addToSlip('half time-ov 2.5')">half time-ov 2.5</div>
<div class="option" (click)="addToSlip('half time-un 0.5')">half time-un 0.5</div>
<div class="option" (click)="addToSlip('half time-un 1.5')">half time-un 1.5</div>
<div class="option" (click)="addToSlip('firsthalf-gg')">firsthalf-gg</div>
<div class="option" (click)="addToSlip('firsthalf-no')">firsthalf-no</div>
<div class="option" (click)="addToSlip('half with most goals-firsthalf')">half with most goals-firsthalf</div>
<div class="option" (click)="addToSlip('half with most goals-secondhalf')">half with most goals-secondhalf</div>
</div>