<div class="main">

  <div class="banner">
    <img src="../../assets//banner.jpg">

      <div class="banner-info">
          <h2>Chambua Kama Pro</h2>
          <p>Paybill 1231231</p>

          <a href="#" class="btn">
              Learn More
          </a>

      </div>

  </div>

  <div class="breadcrump">


      <div class="intro">
          <p>Cheza</p>
      </div>

      <div class="search">
        <input type="text">

      </div>


      <div class="actions">
          <ul>
              <li><a href="{% url 'dashboard' %}"><fa-icon [icon]="basketbol"></fa-icon></a>
              </li>
              <li><a href="{% url 'connected' %}"><fa-icon [icon]="futbol"></fa-icon></a></li>
              <li><a href="{% url 'all' %}"><fa-icon [icon]="tennis"></fa-icon></a>
              </li>
              <li><a href="{% url 'users' %}"><fa-icon [icon]="volley"></fa-icon></a></li>






          </ul>

      </div>
  </div>

  <div class="outline">


          <div *ngFor="let betslip of (betslips$ |async)" class="row fill-yellow">

                  <div class="cell">
                      <h3>            <a [routerLink]="['/betslips/', betslip.id]">{{ betslip.name }}</a>
                      </h3>

                      <p>12 Games</p>
                      <p>Share</p>
                  </div>
                  <div class="cell">
                      <h3>            <a [routerLink]="['/profiles/', betslip.user.username]">{{betslip.user.username}}</a>
                      </h3>

                          <p>Sales - {{betslip.sales}}</p>
                          <p>likes </p>
                  </div>

                  <div class="cell">
                      <div class="status-online">

                      </div>
                  </div>

                  <div class="cell">
                      <button class="btn-buy">Buy</button>
                  </div>

              </div>








  </div>

  <div class="foot">


  </div>

</div>



