<div class="header">
  <div class="logo">

      <div class="logo-text">
          <a href="#">Betsoko</a>
      </div>


  </div>
  <div class="search">


  </div>
  <div class="navbar">





      <ul class="list" *ngIf="loggedIn; else loggedOut">
        <!-- <li class="li-touch">{{ user.username }}</li> -->
        <li class="li-touch">Balance: 00.00</li>
        <li class="li-touch"> <a class="button" (click)="logout()">Logout</a></li>
      </ul>
  </div>


</div>

<ng-template #loggedOut>
  <ul class="list" >


    <form [formGroup]="form" (ngSubmit)="loginuser()" >
        <div class="input-holder">
          <input formControlName="phoneNumber" type="text" autocomplete="off" placeholder="Phone Number">

        </div>
        <div
          *ngIf="form.controls['phoneNumber'].invalid && (form.controls['phoneNumber'].dirty || form.controls['phoneNumber'].touched)"
          class="alert alert-danger">
          <div *ngIf="form.controls['phoneNumber'].errors.required">
            Phone Number is required.
          </div>
          <div *ngIf="form.controls['phoneNumber'].errors.pattern">
            Enter a valid phone Number
          </div>
        </div>

        <div  class="input-holder">
          <input formControlName="password" type="password" autocomplete="off" placeholder="Password">

        </div>
        <div
          *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
          class="alert alert-danger">
          <div *ngIf="form.controls['password'].errors.required">
            Password is required.
          </div>
        </div>

        <button type="submit" class="button-login">
            <p *ngIf="loggedIn; else loggedOut">
Logging in
            </p>
            <ng-template #loggedOut>
                Login
            </ng-template>


        </button>

        <a routerLink="/signup" type="" class="button-signup">Sign Up</a>
      </form>
</ul>
  </ng-template>
