@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';

.header {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary;
  margin: 0;
  padding: 0;
  height: 40px;
}

.li-touch {
  margin: 5px;



}

.button {
  height: 30px;
  width: 80px;
  color: $text-color;
  background: $secondary;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border: none;
  text-decoration: none;
}

.logo {

  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .logo-text {

      a {
          color: $text-color;
          font-size: 25px;
          text-decoration: none;

      }

  }
}

.search {

  width: 30%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .search-area {
      width: 60%;
      height: 60%;
      // border: 1px red solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: darkgray;
      border-radius: 50px;
      padding: 10px;

      input {
          background: darkgray;
      }
  }
}


.navbar {

  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;


  .list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

  ul {
      list-style: none;
      form {

          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .input-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90%;

            input {
              color: white;
              height: 90%;

              margin:0 10px 0 10px;
              background: darken($primary, 5%);

              border: none;
             padding-left: 6px;
          }
          }

          .alert  {
            font-size: 10px;
          }

          .button-login {
              height: 80%;
              width: 80px;
              color: $text-color;
              background: $primary;


              border-radius: 5px;
              display: flex;
              border: 1px solid $secondary;
              justify-content: center;
              align-items: center;
              margin-right: 5px;
              transition-duration: 0.5s;
              transition-timing-function: ease-in;


              &:hover {
                  background: $secondary;
              }
          }

          .button-signup {
              height: 80%;
              width: 80px;
              color: $text-color;
              background: $secondary;

              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 5px;
              border: none;
              font-size: 13px;
              text-decoration: none;
          }
      }

  }

}



@media screen and (max-width: 700px){

  .logo {
      display: none;

  }



}
