








<div class="main">

  <div class="banner">
      <img src="../../assets//banner.jpg">

      <div class="banner-info">
          <h2>Chambua Kama Pro</h2>
          <p>Paybill 1231231</p>

          <a href="#" class="btn">
              Learn More
          </a>

      </div>

  </div>

  <div class="breadcrump">


      <div class="intro">
          <p>Cheza</p>
      </div>


      <div class="actions">
          <ul>
              <li><a href="{% url 'dashboard' %}"><fa-icon [icon]="basketbol" size="lg"></fa-icon></a>
              </li>
              <li><a href="{% url 'connected' %}"><fa-icon [icon]="futbol" size="lg"></fa-icon></a></li>
              <li><a href="{% url 'all' %}"><fa-icon [icon]="tennis" size="lg"></fa-icon></a>
              </li>
              <li><a href="{% url 'users' %}"><fa-icon [icon]="volley" size="lg"></fa-icon></a></li>





          </ul>

      </div>
  </div>

  <div class="outline">

      <div class="fixture fill-dark">

          <div class="cell">
              <h3>Home Team</h3>
          </div>
          <div class="cell">
              <h3>Away Team</h3>
          </div>
          <div class="cell">
              <h3>League</h3>
          </div>
          <div class="cell">
              <h3>Date</h3>
          </div>
          <div class="small-cell">
              <h3>Status</h3>
          </div>
          <div class="small-cell">
              <h3>Action</h3>
          </div>


      </div>
          <div *ngFor="let fixture of (fixtures$ |async | slice:0:12); let i = index; let odd=odd; let even=even;" class="fixture"  [ngClass]="{ odd: odd, even: even1 }">
                  <div class="cell">
                     <h3>{{ fixture.homeTeam.name }}</h3>
                  </div>
                  <div class="cell">
                      <h3>{{ fixture.awayTeam.name }}</h3>
                  </div>
                  <div class="cell">
                      <!-- <h3>{{ fixture.league_id }}</h3> -->
                  </div>
                  <div class="cell">
                      <h3>{{ fixture.event_date | date }}</h3>
                  </div>

                  <div class="small-cell">
                      <h3>{{ fixture.statusShort }}</h3>
                  </div>

                  <div class="small-cell">
                      <a  (click)="choosePrediction(fixture)">
                          <fa-icon [icon]="plus" (click)="choosePrediction(fixture)" size="lg"></fa-icon>
                      </a>
                  </div>
              </div>


              <div class="addContainer" id="addContainer">
                  <div class="notifier-card">
                      <div class="top">
                              <h3> Your Prediction</h3>

                          <fa-icon [icon]="close" (click)="popPupDismiss()" size="lg"></fa-icon>
                      </div>
                      <div class="teams">
                          {{ home }}  VS  {{ away }}
                        </div>
                      <div class="content">
                          <div class="option" (click)="addToSlip('Home')">Home</div>
                          <div class="option" (click)="addToSlip('Away')">Away</div>
                          <div class="option" (click)="addToSlip('Draw')">Draw</div>
                          <div class="option" (click)="addToSlip('12')">12</div>
                          <div class="option" (click)="addToSlip('1X')">1X</div>
                          <div class="option" (click)="addToSlip('2X')">2X</div>
                          <div class="option" (click)="addToSlip('1X')">1X</div>
                          <div class="option" (click)="addToSlip('Over 0.5')">Over 0.5</div>
                          <div class="option" (click)="addToSlip('Over 1.5')">Over 1.5</div>
                          <div class="option" (click)="addToSlip('Over 2.5')">Over 2.5</div>
                          <div class="option" (click)="addToSlip('Over 3.5')">Over 3.5</div>
                          <div class="option" (click)="addToSlip('gg')">gg</div>
                          <div class="option" (click)="addToSlip('no')">ng</div>
                          <div class="option" (click)="addToSlip('half time-home')">half time-home</div>
                          <div class="option" (click)="addToSlip('half time-draw')">half time-draw</div>
                          <div class="option" (click)="addToSlip('half time-away')">half time-away</div>
                          <div class="option" (click)="addToSlip('half time-ov 0.5')">half time-ov 0.5</div>
                          <div class="option" (click)="addToSlip('half time-ov 1.5')">half time-ov 1.5</div>
                          <div class="option" (click)="addToSlip('half time-ov 2.5')">half time-ov 2.5</div>
                          <div class="option" (click)="addToSlip('half time-un 0.5')">half time-un 0.5</div>
                          <div class="option" (click)="addToSlip('half time-un 1.5')">half time-un 1.5</div>
                          <div class="option" (click)="addToSlip('firsthalf-gg')">firsthalf-gg</div>
                          <div class="option" (click)="addToSlip('firsthalf-no')">firsthalf-no</div>
                          <div class="option" (click)="addToSlip('half with most goals-firsthalf')">half with most goals-firsthalf</div>
                          <div class="option" (click)="addToSlip('half with most goals-secondhalf')">half with most goals-secondhalf</div>
                      </div>

                      <div class="foot">

                      </div>
                  </div>
              </div>







  </div>

  <div class="foot">


  </div>

</div>
