@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';


.footer {
  grid-column: span 12;
  display: flex;
  height: 100%;
  background: darken($background, 20%);


  .footer-bar {
      width: 100%;
      display: flex;
      height: 30%;
      background: darkern($primary, 60%);

  }


}
