@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';



.odd {
  background: $secondary;
}

.even {
background: $banner;
}

:host{
  flex: 2;
  .right {
    flex: 2;
    height: 100%;
    margin: 0;
    padding: 0;
    background: lighten($background, 10%);


    .betslip {
        background: $pepea;
        margin: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        position: relative;


        .header {
            background: $primary;
            height: 40px;
            width: 100%;
            border-radius: 8px 8px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }


      .preds {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 150px;
        flex-wrap: wrap;
        padding: 20px 0 40px 0;

        .prediction {
          display: flex;
          width: 100%;
          padding: 2px 2px 2px 2px;
          .small-cell {
            font-size: 18px;
            width:12%;
            display: flex;
            justify-content: center;
            padding: 0 2px 0 2px;
          }
          .cell {
            font-size: 8px;
            width:26%;
            display: flex;
            justify-content: center;
            padding: 0 2px 0 2px;

            .minus {
              flex: 1;
              position: relative;

              .line {
                  width: 20px;
                  height: 3px;
                  background-color: white;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  transition: all 2s;

                  // &:nth-child(2){
                  //     transform: translate(-50%, -50%) rotate(90deg);


                  // }


              }




            }
          }
        }


      }

      .foot {
        display: flex;
        background: $primary;
        width:100%;
        height: 40px;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
        justify-content: space-evenly;
        align-items: center;

        .items {
          display: flex;
          background: $primary;
          width:100%;
          flex-direction: column;


          .price {
            width: 100%;
            font-size: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            input {
              width: 90%;
              color: black;
              margin: 2px;
              height: 30px;

                      }

                      button {
              width: 30%;
              border-radius: 5px;
              background: darken($primary, 4%);
              margin: 2px;
              height: 30px;
              border: none;

                      }
          }

          .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
              width: 60%;
              color: black;
              margin: 2px;
              height: 30px;

                      }

            button {
              width: 30%;
              border-radius: 5px;
              background: darken($primary, 4%);
              margin: 2px;
              height: 30px;
              border: none;

                      }
          }
        }


      }
    }

    .advert {
        height: 350px;
        width: 100%;
        img {
            object-fit: cover;
            height: 350px;
        width: 100%;
        }


    }

    .right-list {
        display: flex;
        flex-direction: column;
        list-style: none;


        li {
            padding-left: 10px;


            i {
                display: flex;
                width: 20px;
                height: 10px;
                display: flex;
                justify-items: center;
                align-items: center;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                margin: 10px;
                color:  white;
            }

             a {

                display: flex;
                justify-items: center;
                align-items: center;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                margin: 10px;
                color:  white;

             }

             &:hover {
                 background: $secondary;
             }
        }
    }

  }
}






@media screen and (max-width: 1200px){

  .right {
      display: none;

  }



}


@media screen and (max-width: 900px){

  :host {
      display: none;

  }



}
