<div class="right">

  <div class="betslip">
      <div class="header">
          Betslip
      </div>
      <div class="preds">
          <div *ngFor="let instance of (combinations$ |async);
          let i = index; let odd=odd; let even=even;" class="prediction"  [ngClass]="{ odd: odd, even: even1 }"
          >
              <div class="cell">
                 <h3>{{ instance.fixture.homeTeam.name }}</h3>
              </div>
              <div class="cell">
                  <h3>{{ instance.fixture.awayTeam.name }}</h3>
              </div>
              <div class="cell">
                  <h3>{{ instance.prediction }}</h3>
              </div>
              <div class="small-cell">
                  <a  (click)="removePrediction(instance)">
                      <fa-icon [icon]="minus" (click)="removePrediction(instance)" size="lg"></fa-icon>
                  </a>
              </div>
          </div>
      </div>

      <div class="foot">
        <div class="items">

          <div class="title">
              <input type="text" placeholder="Title">
            </div>
            <button (click)="saveSlip()">Save</button>
        </div>

      </div>

  </div>

  <div class="advert">

      <img src="../../assets/banner.jpg" alt="">

  </div>



</div>
