@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';


.fill-yellow {
    background: $secondary;
}

:host {
  flex: 8;

  display: flex;
  justify-content: center;

  .signup {
    display: flex;
    width: 100%;
    // height: 100vh;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 50px;

    h3 {
      color: $secondary;
      font-size: 25px;
      margin: 10px;

    }

    .links {
      color: $secondary;


      a:hover {
        color: $text-color;
        cursor: pointer;
      }
    }

    form {
      width: 60%;

      label {
        color: $secondary;
      }

      .alert, .alert-danger {
        color: $secondary;
      }

      input {
        position: relative;
      flex:1;
      height: 40px;
      min-width: 192px;
      width: 100%;
      border-radius: 2px;
      background: #f2f2f2;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
color: #555;
padding: 8px 16px;
border: none;
margin-bottom: 10px;
color: #ccc;
background: #181818;
border: 1px solid #555;
      }

      button {
        overflow: visible;
        flex: 1;
        width: 100%;
margin-bottom: 48px;
position: relative;
display: inline-flex;
justify-content: center;
align-items: stretch;
padding: 12px 16px;
border: 0;
border-radius: 2px;
font-size: 14px;
line-height: 24px;
font-weight: 500;
text-align: center;
color: #fff;
background: darken($background, 10);
border: 2px $secondary solid;

white-space: nowrap;
text-decoration: none;
transition: all 2s;
vertical-align: middle;


      }

      button:hover {
        background: $secondary;


      }
    }
  }




}
