
      <div class="signup">

          <h3>Sign Up</h3>
          <form [formGroup]="form" (ngSubmit)="registerUser()" class="form-container">



            <div>

              <input formControlName="username" type="text" autocomplete="off" placeholder="Username">

            </div>
            <div *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['username'].errors.required">
                Username is required.
              </div>
            </div>


            <div>

              <input formControlName="phoneNumber" type="text" autocomplete="off" placeholder="Phone Number">

            </div>
            <div
              *ngIf="form.controls['phoneNumber'].invalid && (form.controls['phoneNumber'].dirty || form.controls['phoneNumber'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['phoneNumber'].errors.required">
                Phone Number is required.
              </div>
              <div *ngIf="form.controls['phoneNumber'].errors.pattern">
                Enter a valid phone Number
              </div>
            </div>



            <div>
              <!-- <label class="center-block">Email </label> -->
              <input formControlName="email" type="email" autocomplete="off" placeholder="Email">

            </div>
            <div
              *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['email'].errors.required">
                Email is Optional.
              </div>
            </div>




            <div>
              <!-- <label class="center-block">Password </label> -->
              <input formControlName="password" type="text" autocomplete="off" placeholder="Password">

            </div>
            <div
              *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['password'].errors.required">
                Password is required.
              </div>
            </div>


            <div class="form-group">
              <!-- <label class="center-block">Confirm Password </label> -->
              <input formControlName="confirmpassword" type="text" autocomplete="off" placeholder="Confirm Password">

            </div>
            <div
              *ngIf="form.controls['confirmpassword'].invalid && (form.controls['confirmpassword'].dirty || form.controls['confirmpassword'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['confirmpassword'].errors.required">
                Password Confirmation is required.
              </div>
              <div *ngIf="form.controls['confirmpassword'].errors.required ||  form.errors?.mismatch">
                Password did match
              </div>

            </div>


            <button type="submit">Submit</button>




          </form>
          <div class="links">
            <p>Already have an account <a href="">Login</a></p>
          </div>

      </div>




