@import '../../Variables';
@import '../../Mixins';
@import '../../Functions';


.fill-yellow {
    background: $secondary;
}

:host {
  flex: 8;

  display: flex;
  justify-content: center;


  .main {
    flex: 8;
    // background: $secondary;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 30px minmax(60vh, auto) minmax(20vh, auto);

    .banner {
        grid-column: span 12;
        background: $banner;
        position: relative;

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        .banner-info {
            position: absolute;
            top: 50px;
            right: 150px;
            color: $text-color;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                color: $text-color;
            }

            p {
                display: flex;
                justify-content: center;
            }
            a {
                text-decoration: none;
            }

            .btn {
                height: 40px;
                width: 100px;
                color: $text-color;
                // background: $secondary;

                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                margin-left: 50px;

                border: 1px solid $secondary;
                transition-duration: 0.5s;
                transition-timing-function: ease-in;


                &:hover {
                    background: $secondary;

                }

            }
        }
    }

    .breadcrump {
        grid-column: span 12;
        // background: $primary;
        display: flex;
        align-items: center;
        padding: 20px;
        color: $secondary;


        p {
            color: $secondary;

        }
        .intro {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .actions {
            flex: 1;
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;

                li {
width: 20%;
                    margin: 5px;


                    a {
                        color: $secondary;
                        border-bottom: 2px solid $secondary;
                        width: 100%;


                        i {
                            color: $secondary;
                            width: 10px;
                            height: 20px;
                        }

                        &:active {
                            border-bottom: 2px solid $secondary;

                        }
                    }

                }
            }
        }


    }

    .outline {
        grid-column: span 12;
        background: $pepea;
        margin: 10px;
        border-radius: 7px;

.header{
  display: flex;
  height: min($numbers: 80px);
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  flex-wrap: wrap;
  width: 100%;


  .cell {
    width: 20%;
    height: 40px;



  }
}


        .fixture {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $original-text-color;
            font-size: 13px;


            .cell {
                box-sizing: border-box;
                flex-grow: 1;
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                list-style-type: none;
                h1, h2, h3, h4, h5, h6 {
                    margin: 0;
                }


                .plus {
                    flex: 1;
                    position: relative;

                    .line {
                        width: 20px;
                        height: 3px;
                        background-color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 2s;

                        // &:nth-child(2){
                        //     transform: translate(-50%, -50%) rotate(90deg);


                        // }


                    }

                    &:hover {
                        .line {
                            background-color: $text-color;
                            width: 40px;
                        }
                    }


                  }

                  .status-online {
                      background: rgb(9, 228, 9);
                      height: 10px;
                      width: 10px;
                  }

                  .status-offline {
                    background: rgb(228, 6, 6);
                    height: 10px;
                    width: 10px;
                }
            }

        }

        .row {
            width: 98%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: darken($pepea, 5%);
            color: $original-text-color;
            font-size: 13px;
            margin: 10px;


            .cell {
                box-sizing: border-box;
                flex-grow: 1;
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                flex-direction: column;
                list-style-type: none;
                h1, h2, h3, h4, h5, h6 {
                    margin: 0;
                }

                .btn-buy {

                    height: 40%;
                    width: 80px;
                    color: $text-color;
                    background: $pepea;

                    border: 1px solid $secondary;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-in;


                    &:hover {
                        background: $secondary;
                    }

                }
                .btn-view {

                    height: 40%;
                    width: 80px;
                    color: $text-color;
                    background: $secondary;
                    border: none;

                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-in;


                    &:hover {
                        background: $secondary;
                    }

                }


                .plus {
                    flex: 1;
                    position: relative;

                    .line {
                        width: 20px;
                        height: 3px;
                        background-color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        // transition: all 2s;

                        // &:nth-child(2){
                        //     transform: translate(-50%, -50%) rotate(90deg);


                        // }


                    }

                    // &:hover {
                    //     .line {
                    //         background-color: $text-color;
                    //         width: 40px;
                    //     }
                    // }


                  }

                  .status-online {
                      background: rgb(9, 228, 9);
                      height: 10px;
                      width: 10px;
                  }

                  .status-offline {
                    background: rgb(228, 6, 6);
                    height: 10px;
                    width: 10px;
                }
            }

        }
    }

    .foot {
        grid-column: span 12;
    }




}



}
