
<div class="main">
    <div class="banner">
        <img src="../../assets//banner.jpg">

          <div class="banner-info">
              <h2>Chambua Kama Pro</h2>
              <p>Paybill 1231231</p>

              <a href="#" class="btn">
                  Learn More
              </a>

          </div>

      </div>



      <div class="breadcrump">


          <div class="intro">
              <p>Betslip Details</p>
          </div>


          <div class="actions">
              <ul>
                  <li><a href="{% url 'dashboard' %}"><i class="fas fa-futbol"></i></a>
                  </li>
                  <li><a href="{% url 'connected' %}"><i class="fa fa-road" aria-hidden="true"></i></a></li>
                  <li><a href="{% url 'all' %}"><i class="fa fa-road" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="{% url 'users' %}"><i class="fa fa-road" aria-hidden="true"></i></a></li>
                  <li><a href="{% url 'packages' %}"><i class="fa fa-road" aria-hidden="true"></i>
                      </a></li>




              </ul>

          </div>
      </div>

      <div class="outline">
        <div class="header">
<div class="cell">
 Title: {{ betslip.name }}
</div>
<div class="cell">
    Owner: {{ betslip.user.username }}
   </div>
<div class="cell">
    Sales: {{ betslip.sales }}
   </div>
   <div class="cell">
      Date: {{ betslip.date_created  | date}}
     </div>
     <div class="cell">
        Status: {{ betslip.status }}
       </div>
        </div>
        <div *ngFor="let fixture of betslip.predictions; let i = index" class="fixture fill-yellow">



            <div class="cell">
               <h3>{{ fixture.homeTeam.name }}</h3>
            </div>
            <div class="cell">
                <h3>{{ fixture.awayTeam.name }}</h3>
            </div>
            <div class="cell">
                <h3>{{ fixture.prediction }}</h3>
            </div>
            <div class="cell">
                <h3>{{ fixture.created_on | date }}</h3>
            </div>
            <div class="cell">
                <h3>{{ fixture.status }}</h3>
            </div>



        </div>











      </div>

</div>


