@import './app/Functions';
@import './app/Mixins';
@import './app/Variables';

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// @import "https://fonts.googleapis.com/css?family=Roboto:700&display=swap";
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);




*, ::before, ::after {
  color:$text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lighten($background, 5%);
  margin: 0;
  padding: 0;
}


